/build/
*.DS_Store
/.codex
/.deriveddata/
/.swift-module-cache/
/screenlog.*
/sdkconfig

/ios/ANCSWatchConfig/*.xcodeproj
/ios/ANCSWatchConfig/*.xcworkspace
/ios/ANCSWatchConfig/DerivedData/
/ios/ANCSWatchConfig/.swiftpm/
